In [5]:
import requests
import pandas as pd
from scrapy.http import TextResponse
import time
import numpy as np # delete

In [69]:
url = 'http://books.toscrape.com/'
response = requests.get(url)

In [70]:
print(dir(response))
print(response.url)

['__attrs__', '__bool__', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__enter__', '__eq__', '__exit__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__nonzero__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setstate__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_content', '_content_consumed', '_next', 'apparent_encoding', 'close', 'connection', 'content', 'cookies', 'elapsed', 'encoding', 'headers', 'history', 'is_permanent_redirect', 'is_redirect', 'iter_content', 'iter_lines', 'json', 'links', 'next', 'ok', 'raise_for_status', 'raw', 'reason', 'request', 'status_code', 'text', 'url']
http://books.toscrape.com/

In [71]:
page = TextResponse(url=response.url,
                   body=response.text,
                   encoding='utf-8')

In [72]:
refs = page.css('h3>a::attr(href)').extract()
titles = page.css('h3>a::attr(title)').extract()
prices = page.css("p[class='price_color']::text").extract()

In [73]:
refs

['catalogue/a-light-in-the-attic_1000/index.html',
 'catalogue/tipping-the-velvet_999/index.html',
 'catalogue/soumission_998/index.html',
 'catalogue/sharp-objects_997/index.html',
 'catalogue/sapiens-a-brief-history-of-humankind_996/index.html',
 'catalogue/the-requiem-red_995/index.html',
 'catalogue/the-dirty-little-secrets-of-getting-your-dream-job_994/index.html',
 'catalogue/the-coming-woman-a-novel-based-on-the-life-of-the-infamous-feminist-victoria-woodhull_993/index.html',
 'catalogue/the-boys-in-the-boat-nine-americans-and-their-epic-quest-for-gold-at-the-1936-berlin-olympics_992/index.html',
 'catalogue/the-black-maria_991/index.html',
 'catalogue/starving-hearts-triangular-trade-trilogy-1_990/index.html',
 'catalogue/shakespeares-sonnets_989/index.html',
 'catalogue/set-me-free_988/index.html',
 'catalogue/scott-pilgrims-precious-little-life-scott-pilgrim-1_987/index.html',
 'catalogue/rip-it-up-and-start-again_986/index.html',
 'catalogue/our-band-could-be-your-life-scenes-from-the-american-indie-underground-1981-1991_985/index.html',
 'catalogue/olio_984/index.html',
 'catalogue/mesaerion-the-best-science-fiction-stories-1800-1849_983/index.html',
 'catalogue/libertarianism-for-beginners_982/index.html',
 'catalogue/its-only-the-himalayas_981/index.html']

In [60]:
def scrap_content(url, refs):
    contents = []
    for ref in refs:
        response_desc = requests.get(url + ref)
        page_desc = TextResponse(url=response_desc.url,
                        body=response_desc.text,
                        encoding='utf-8')
        content = page_desc.css("article>p::text").extract()[0]
        contents.append(content)
    return contents

In [91]:
url = "http://books.toscrape.com/catalogue/"
def scrap_all_data(url, n_pages=5):
    all_titles, all_prices, all_contents = [], [], []
    to_adds = [f'page-{page_n}.html' for page_n in range(1, n_pages+1)]
    for n, to_add in enumerate(to_adds):
        url_page = url + to_add
        response = requests.get(url_page)
        page = TextResponse(url=response.url,
                   body=response.text,
                   encoding='utf-8')
        refs = page.css('h3>a::attr(href)').extract()
        titles = page.css('h3>a::attr(title)').extract()
        prices = page.css("p[class='price_color']::text").extract()
        contents = scrap_content(url=url, refs=refs)
        all_titles.extend(titles)
        all_prices.extend(prices)
        all_contents.extend(contents)
    return all_titles, all_prices, all_contents

        
all_info = scrap_all_data(url=url, n_pages=5)

In [97]:
df = pd.DataFrame(data=zip(*all_info), columns=['Title', 'Price', 'Content'])
df

,Title,Price,Content
0,A Light in the Attic,Â£51.77,It's hard to imagine a world without A Light i...
1,Tipping the Velvet,Â£53.74,"""Erotic and absorbing...Written with starling ..."
2,Soumission,Â£50.10,"Dans une France assez proche de la nÃ´tre, un ..."
3,Sharp Objects,Â£47.82,"WICKED above her hipbone, GIRL across her hear..."
4,Sapiens: A Brief History of Humankind,Â£54.23,From a renowned historian comes a groundbreaki...
...,...,...,...
95,Lumberjanes Vol. 3: A Terrible Plan (Lumberjan...,Â£19.92,This New York Times Bestselling series continu...
96,"Layered: Baking, Building, and Styling Spectac...",Â£40.11,Itâs time to venture beyond vanilla and choc...
97,Judo: Seven Steps to Black Belt (an Introducto...,Â£53.90,"Displaying the most impressive throws, compell..."
98,Join,Â£35.67,What if you could live multiple lives simultan...
99,In the Country We Love: My Family Divided,Â£22.00,The star of Orange is the New Black and Jane t...

3